<table>
  <th><%= I18n.t("gist.index.user") %></th>
  <th><%= I18n.t("gist.index.gist") %></th>
  <th><%= I18n.t("gist.index.question") %></th>
  <%= render partial:'admin/gist/gists', collection: @gists %>
</table>