<li>
  <%= answer.title %><br>
  <%= link_to I18n.t('show'), admin_answer_path(answer) %>
  <%= link_to I18n.t('edit'), edit_admin_answer_path(answer) %>
  <%= link_to I18n.t('delete'), admin_answer_path(answer), method: :delete,
              data: {confirm: I18n.t('are_you_sure?')} %>
</li>