<tr>
  <td><%= questions.title %></td>
  <td><%= link_to I18n.t('edit'), edit_admin_question_path(questions) %></td>
  <td><%= link_to I18n.t('show'), admin_question_path(questions) %></td>
  <td><%= link_to I18n.t('delete'), admin_question_path(questions),
                  method: :delete,
                  data: { confirm: I18n.t('are_you_sure?') }%></td>
</tr>
