<h1>Tests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Level</th>
    <th>Number of questions</th>
    <th>Action</th>
  </tr>

    <tr>
      <%= render partial: 'shared/tests', collection: @tests %>
    </tr>
</table>