<footer>
  <p>Автор: <%= render html: github_url('utgak', 'TestGuru') %>
  </p>

  <p>
    Учебный проект в школе <%= link_to 'Thinknetica', 'http://thinknetica.com', target: :_blank %>
  </p>
  <p> Год: <%= current_year %></p>
</footer>